.pagination-btn-group {
    row-gap: 0.5rem;
    button.active {
        filter: brightness(80%);
    }
    button {
        // box-sizing: border-box;
        // width: 6rem;
    }
}

th.sortable {
    cursor: pointer;

    &.asc, &.desc {
        &::after {
            content: '<';
            color: $primary;
            margin-left: 8px;
            position: absolute;
        }
    }
    &.asc::after {
        transform: rotate(-90deg);
    }
    &.desc::after {
        transform: rotate(90deg);
    }
}