
upstream loadbalancer {
  server web1:${SERVER_PORT};
  server web2:${SERVER_PORT};
}

server {
  listen 80;
  server_name localhost nginx;
  return 301 https://$host$request_uri;

  location / {
    proxy_pass http://loadbalancer;
  }
}

server {
  listen 443;
  server_name localhost;
  
  include snippets/ssl-params.conf;

  location / {
    proxy_pass http://loadbalancer;
  }
}